@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8c8c85;
}
.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #a77afe;
}
.token.attr-name,
.token.string {
  color: #e6d06c;
}
.token.entity,
.token.url,
._base_language-css .token.string,
._base_style .token.string {
  color: #e6d06c;
}
.token.selector {
  color: #a6e22d;
}
.token.function {
  color: #76d9e6;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.important,
.token.unit {
  color: #f37;
}
.token.regex,
.token.statement {
  color: #76d9e6;
}
.token.placeholder,
.token.variable {
  color: #fff;
}
.token.important,
.token.statement {
  font-weight: bold;
}
.token.punctuation {
  color: #bebec5;
}
.token.entity {
  cursor: help;
}
.language-html .token.tag,
.language-markup .token.tag {
  color: #f37;
}
.language-html .token.attr-name,
.language-markup .token.attr-name {
  color: #a6e22d;
}
.language-html .token.attr-value,
.language-markup .token.attr-value {
  color: #e6d06c;
}
.language-html .token.style,
.language-markup .token.style,
.language-html .token.script,
.language-markup .token.script {
  color: #76d9e6;
}
.language-html .token.script .token.keyword,
.language-markup .token.script .token.keyword {
  color: #76d9e6;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'Open Sans';
}
strong,
b,
._base_bold {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.25em;
}
h1 {
  font-size: 56px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 38px;
  }
}
h2 {
  font-size: 38px;
}
@media (max-width: 700px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font-size: 26px;
}
@media (max-width: 700px) {
  h3 {
    font-size: 22px;
  }
}
h4 {
  font-size: 20px;
}
@media (max-width: 700px) {
  h4 {
    font-size: 16px;
  }
}
p {
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 300;
}
em {
  font-style: italic;
}

._header_header {
  height: 360px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #fff;
}
._header_image {
  background-image: url("images/pexels-photo-106399.jpeg");
  transition: opacity 500ms;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
._header_gradient {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
}
._header_content {
  position: absolute;
  margin-top: 45px;
  padding: 30px;
}

nav {
  background-color: rgba(43,44,46,0.95);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
}
nav svg {
  fill: currentColor;
}
nav li {
  list-style-type: none;
  user-select: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 18px;
}
nav li a {
  cursor: pointer;
  color: #fff;
  display: block;
  margin: 0 5px;
  padding: 0 10px;
  text-decoration: none;
  line-height: 52px;
}
nav li a:hover {
  color: #1d1f21;
  background-color: #fc0;
}
nav ul {
  height: 52px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav ul a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
nav ul a svg {
  width: 52px;
  height: 45px;
}
nav ul a li {
  padding: 0 10px;
}
#_nav_items {
  display: flex;
}
@media (max-width: 700px) {
  #_nav_items {
    display: none;
  }
  #_nav_items[aria-expanded="true"] {
    display: block;
    top: 52px;
    right: 0;
    position: absolute;
    background-color: rgba(43,44,46,0.95);
    width: 300px;
    line-height: 52px;
  }
}
#_nav_icon {
  padding: 10px;
  cursor: pointer;
  display: none;
}
#_nav_icon svg {
  fill: #fff;
  width: 32px;
  height: 32px;
}
@media (max-width: 700px) {
  #_nav_icon {
    display: inline-block;
  }
}

._home_home {
  padding: 15px;
  background-color: #eee;
}
._home_home section {
  margin-bottom: 15px;
  background-color: #f5f6f7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  ._home_home section {
    flex-direction: column;
  }
}
._home_home section img {
  padding: 10px;
  width: 400px;
  flex: none;
}
@media (max-width: 700px) {
  ._home_home section img {
    width: 90%;
  }
}
._home_home section div {
  padding: 20px;
  flex: 1;
}
._home_odd {
  flex-direction: row-reverse;
}

._page_page {
  padding: 0 15px;
  background-color: #eee;
}
._page_page article {
  max-width: 1024px;
  padding: 15px;
  background-color: #f5f6f7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
._page_page .page-image img {
  max-width: 100%;
}
._page_page pre {
  clear: both;
  overflow: auto;
  margin: 3em 0;
  padding: 2em 2em;
  box-shadow: inset 0 1px 7px #303233;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}
._page_page pre code {
  display: block;
  color: #fff;
  font-size: inherit;
  line-height: inherit;
  background: none;
  padding: 0;
}
._page_page pre,
._page_page code {
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: Monaco, Consolas, monospace;
  background: #494b4d;
  color: #fff;
}
