@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'Open Sans';
}
strong,
b,
._base_bold {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
  font-family: 'Alegreya Sans';
  font-weight: 400;
  line-height: 1.25em;
}
h1 {
  font-size: 56px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 38px;
  }
}
h2 {
  font-size: 38px;
}
@media (max-width: 700px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font-size: 26px;
}
@media (max-width: 700px) {
  h3 {
    font-size: 22px;
  }
}
h4 {
  font-size: 20px;
}
@media (max-width: 700px) {
  h4 {
    font-size: 16px;
  }
}
p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
}
em {
  font-style: italic;
}

._header_header {
  height: 360px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #fff;
}
._header_image {
  background-image: url("images/pexels-photo-106399.jpeg");
  transition: opacity 500ms;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
._header_gradient {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
}
._header_content {
  position: absolute;
  margin-top: 45px;
  padding: 30px;
}

._nav_nav {
  background-color: rgba(43,44,46,0.95);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
}
._nav_nav ul {
  height: 52px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
._nav_nav ul a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
._nav_nav ul a img {
  height: 45px;
}
._nav_nav ul a li {
  padding: 0 10px;
}
._nav_nav ul div {
  display: flex;
}
._nav_nav ul li {
  list-style-type: none;
  user-select: none;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 18px;
}
._nav_nav ul li a {
  cursor: pointer;
  color: #fff;
  display: block;
  margin: 0 5px;
  padding: 0 10px;
  text-decoration: none;
}
._nav_toggle {
  display: none;
}

._home_home {
  padding: 15px;
  background-color: #eee;
}
._home_home section {
  margin-bottom: 15px;
  background-color: #f5f6f7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  ._home_home section {
    flex-direction: column;
  }
}
._home_home section img {
  padding: 10px;
  width: 400px;
  flex: none;
}
@media (max-width: 700px) {
  ._home_home section img {
    width: 90%;
  }
}
._home_home section div {
  padding: 20px;
  flex: 1;
}
._home_odd {
  flex-direction: row-reverse;
}

._page_page {
  padding: 0 15px;
  background-color: #eee;
}
._page_page article {
  max-width: 1024px;
  padding: 15px;
  background-color: #f5f6f7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
._page_page .page-image img {
  max-width: 100%;
}
